.reviews-section img {
    width: 15%;
    border-width: thin;
}


/* Styling for review images */
.reviews-section img {
    width: 100px;        
    height: 100px;       
    object-fit: cover;   
    border-radius: 50%;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
